.block-key-words {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 90%;
    height: 100px;
    /*background-color: cornflowerblue;*/
}

.item-key-word {
    text-align: center;
    min-width: 200px;
    height: 31px;
    background: var(--main-front-color);
    border-radius: 20px;
    /*font-size: 18px;*/
    line-height: 30px;
    color: var(--main-text-color);
    cursor: default;
}