@font-face {
  font-family: 'Oswald';
  src: url('Oswald-Light.eot');
  src: url('Oswald-Light.eot?#iefix') format('embedded-opentype'),
  url('Oswald-Light.woff') format('woff'),
  url('Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('Oswald-Regular.eot');
  src: url('Oswald-Regular.eot?#iefix') format('embedded-opentype'),
  url('Oswald-Regular.woff') format('woff'),
  url('Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('Oswald-Medium.eot');
  src: url('Oswald-Medium.eot?#iefix') format('embedded-opentype'),
  url('Oswald-Medium.woff') format('woff'),
  url('Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('Oswald-Bold.eot');
  src: url('Oswald-Bold.eot?#iefix') format('embedded-opentype'),
  url('Oswald-Bold.woff') format('woff'),
  url('Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


