.boxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin-top: 10px;
}

.muted_link {
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #656FAB;
}

.bold_link {
  display: inline;
  font-size: 14px;
  color: var(--main-front-color);
  font-weight: 600;
  text-decoration: underline;
  margin: 0 4px;
}


.form_container {
  padding-top: 8em;
}

