.mt10 {
  margin-top: 10px;
}

.mt1em {
  margin-top: 1em;
}

.mt25 {
  margin-top: 25px;
}

.mt35 {
  margin-top: 25px;
}

.mt70 {
  margin-top: 70px;
}

.mt40per {
  margin-top: 40%;
}

.pt20 {
  padding-top: 20px;
}