@import "~normalize.css";
//@import "fonts/fonts";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;800;900&display=swap'); //fonts
@import "helpers";

:root {
  --main-front-color: #3949AB;
  --main-text-color: #fff;
  --additional-text-color: #111C5A;
  --main-front-gradient: rgba(57, 73, 171, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  //background-color: antiquewhite;
}