.boxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.mutedLink {
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #656FAB;
}

.boldLink {
  display: inline;
  font-size: 14px;
  color: var(--main-front-color);
  font-weight: 600;
  text-decoration: underline;
  margin: 0 4px;
}

.submitBtn {
  width: 100%;
  padding: 11px 40%;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  transition: all, 240ms ease-in-out;
  background: var(--main-front-color);
  background: linear-gradient(
                  58deg,
                  rgba(241, 196, 15, 1) 20%,
                  rgba(243, 172, 18, 1) 100%
  );
  &:hover {
    filter: brightness(1.03);
  }
}

.btn {
  height: 35px;
  font-size: 14px;
}

.spinner {
  padding-top: 190px;
}

