.wrapper {
  width: 100%;
  position: relative;
  z-index: 0;
}

.input {
  width: 100%;
  height: 42px;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.67);
  padding: 0px 10px;
  padding-right: 50px;
  //border-bottom: 1.4px solid transparent;
  transition: all 200ms ease-in-out;
  font-size: 14px;
  margin: 5px 0;
  border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
  border-radius: 10px;
  &::placeholder {
    color: rgba(200, 200, 200, 1);
  }
  //&:not(:last-of-type) {
  //  border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
  //}
  &:focus {
    outline: none;
    border-bottom: 2px solid var(--main-front-color);
  }
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 20px;
  svg {
    fill: darkgrey;
  }
}