.wrapper {
  padding-top: 50px;
}

.keywords {
  padding: 15px 20px;
  background: #FFFFFF;
  /* Text Black/Black 20 */

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  resize: none;
}