.button {
  width: 100%;
  padding: 11px 40%;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all, 240ms ease-in-out;
  //background: rgb(241, 196, 15);
  background: linear-gradient(
                  58deg,
                  var(--main-front-gradient) 20%,
                  var(--main-front-gradient) 100%
  );
  &:hover {
    filter: brightness(1.03);
  }
}
