.header {
    height: 87px;
    width: 100%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.header-background {
    width: 100%;
    height: 100%;
}

.header-logo {
    /*position: absolute;*/
    /*left: 10%;*/
    width: 248px;
    height: 48,91px;
    /*cursor: pointer;*/
}


.link {
    position: absolute;
    left: 10%;
    cursor: pointer;
}

.header-search {
  width: 16,89px;
  height: 17,24px;
}

.icon-profile {
  position: absolute;
  color: #656FAB;
  right: 17%;
}

.icon-menu {
  position: absolute;
  color: #656FAB;
  right: 12%;
}

.search {
  display: flex;
  width: 25%;
  position: absolute;
  color: #656FAB;
  margin-left: auto;
  margin-right: auto;
}

 input[type="text"]::-webkit-input-placeholder {
  color: #656FAB;
 } 
 input[type="text"]::-moz-placeholder {
  color: #656FAB;
 }

.searchTerm {
  width: 74%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  border-radius: 15px 0 0 15px;
  border: 0px;
  padding-left: 20px;
  height: 36px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #656FAB;
}

.searchButton {
  width: 16%;
  height: 38px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0 15px 15px 0;
  border: 0px;;
  background-repeat:no-repeat;
  background-position:center
}
