.boxContainer {
  width: 280px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
}

.topContainer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 5em;
}

.backDrop {
  width: 160%;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  transform: rotate(60deg);
  top: -290px;
  left: -70px;
  background: rgb(241, 196, 15);
  background: linear-gradient(
                  58deg,
                  rgba(241, 196, 15, 1) 20%,
                  rgba(243, 172, 18, 1) 100%
  );
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerText {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.24;
  color: #fff;
  z-index: 10;
  margin: 0;
}

.smallText {
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  z-index: 10;
  margin: 0;
  margin-top: 7px;
}

.innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.8em;
}