.text_area {
  padding: 15px 20px;
  background: #FFFFFF;
  /* Text Black/Black 20 */

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 100%;
  resize: none;
  font-size: 18px;

  &_wrong {
    border: 2px solid #E41313;
  }
}


.error {
  width: fit-content;
  margin: 2px auto;
  border-radius: 5px;
}