.wrapper {
  background-color: rgba(0,0,0, .4);
}

.container {
  background-color: #FFFFFF;
  padding-bottom: 50px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.btn {
  margin-top: 50px;
  margin-right: 30px;
  max-width: 400px;

  &_container {
    text-align: right;
  }
}