.block-reviews {
    margin-top: 50px;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-reviews {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.message {
    &-error {
        background-color: #E41313;
    }
}

.audio-header {
    width: 135px;
    height: 20px;
    position: relative;
}

.icon-information-header {
    height:100%;
    margin-right: 15px;
}

.text-information-header {
    display: inline-block;
    position: absolute;
    top: 50%; 
    transform: translate(0, -50%);
    text-decoration: underline;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #111C5A;
}

.leave-comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    width: 600px;
}

.comment-text-area {
    width: 100%;
    min-height: 150px;
    background: #bbbbbb;

}

.text_no_reviews {
    padding-top: 50px;
    font-size: 30px;
}

.comment-btn {
    margin-top: 20px;
    width: 500px;

    &_disabled {
        background: #9b9a9a;
        cursor: default;
     }
}
