.wrapper {
  background: url("../img/background.png") no-repeat 50%/cover;
}

.working_place {
  //margin: 0 auto;
  //width: 1100px;
  padding: 50px;
  background: linear-gradient(180deg, #F8F8F8 0%, #DDDDDF 51.35%, #ACACAC 100%);
  /* Blur 30 */

  backdrop-filter: blur(30px);
}

.back_wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 30px 15px 15px 0;
  cursor: pointer;
  text-decoration: none;

}

.save_delete_top {
  display: flex;
  justify-content: flex-end;

  .btn_top {
    width: 100px;
    padding: 0;
    height: 30px;
    font-size: 14px;
  }

  .save_top {
    background: #34C759;
  }

  .delete_top {
    background: #E41313;
    margin-left: 10px;
  }
}

.back_title {
  padding-left: 15px;
  color: var(--additional-front-color);
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.btn_container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.save_btn {
  //display: flex;
  width: 800px;
  background: #34C759;
}