.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 250px;
  gap: 25px;

  padding-top: 30px;
  //grid-auto-rows: 250px;
}

.loading_error {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.no_files {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}